* , *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img, video, iframe{
    width: 100%;
    height: 100%;
}

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }

/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width: 10px) and (max-device-width: 582px) {
    div.map-content, textarea, div.video-content, #correoelectronico{
        width: 100%;
        height: 100%;
    }

    nav li{
        font-size: 2vw;
        list-style: none;
    }
    nav ul{
        /* margin: 0%; */
        padding: 0%;
    }

    nav {
        height: 4%;
    }
    nav ul {
        row-gap: 2vw;
        column-gap: 3vw;
    }
    
}

/* Projects responsive */
@media only screen and (min-width: 10px) and (max-width: 980px){
    /* div.project-content li,div.project-content a{
        font-size: 3vw;
        list-style: none;
    } */
    .aboutme-background > h2, .education-background > h2, .projects-background > h2, .skills-background > h2, .haa-background > h2, .suggestion-background > h2, .socialmedia-background > h2, .nav-background > h2, .header-background > h2{
        text-align: center;
        font-size: 5vw;
    }

    div#info-wordsearch, div#info-tictactoe, div#info-MQTT{
        font-size: 3vw;
    }


    div.project-content h3{
        font-size: 4vw;
        list-style: none;
    
    }

    div#wordsearch{
        background-color: #336B87;
        height: 70vw;
        text-align: center;
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }

    div#tictactoe {
        background-color: #253C3E;
        padding: 0rem;
        margin: 0%;
        height: 70vw;
        text-align: center;
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    div#MQTT{
        background-color: #4A5552;
        padding: 0px 3rem;
        margin: 0%;
        height: 70vw;
        width: 100%;
        text-align: center;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    div#wordsearch a, div#tictactoe a, div#MQTT a{
        font-size: 1.6vw;
        background-color: aliceblue;
        margin: 30%;
        padding: 1.5% 1%;
        border-radius: 5%;
    }

    div.socialmedia-flexbox a{
        font-size: 1.5rem;
    }

    .subjects-grade-content{
        font-size: 3vw;
    }
    
    .subjects-grade-content caption {
        font-size: 3vw;
    }
    


}


/* @media only screen and (min-width: 10px) and (max-width: 1080px){
    div.suggestion-content{
        background-color: #336B87;
        padding: 3rem 3.2rem;
        height: 25rem;
        display: flex;
    }

    div.div-for-email{
        height: 20%;
    }

} */
