@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #253c3e;
    font-weight: bold;
}

/*Background fill*/
.aboutme-background, .education-background, .projects-background, .skills-background, .haa-background, .suggestion-background, .socialmedia-background, .nav-background, .header-background {
    background-color: #90AFC5;
    padding: 10px 0px;
    margin: 0;
}

.aboutme-background > h2, .education-background > h2, .projects-background > h2, .skills-background > h2, .haa-background > h2, .suggestion-background > h2, .socialmedia-background > h2, .nav-background > h2, .header-background > h2{
    text-align: center;
    font-size: 2vw;
}

body{
    margin: 0px;
}

.nav-background{    
    color: red;
}

.header-background{
    color: blue;
}

/*About me*/

section.aboutme {
    margin: 0px;
    font-size: 1vw;
    flex: 1;
    text-align: center;
}


div.aboutme-content {
    background-color: #336B87;
    padding-left: 40px;
    height: 30vw;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 40% 30%;
}

div.aboutme-content .div-for-profilepic{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: stretch;
    justify-self: stretch;
    padding: 5%;

}

.div-for-description{
    grid-column: 2/6;
    grid-row: 1/2;
    font-size: 1.7vw;
    padding: 0%;
}

.div-for-pinformation {
    text-align: left;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3vw auto 3vw auto;
    grid-template-rows: 2vw 2vw 2vw;
}

div.aboutme-content > * {
    background-color: #336B87;
    padding: 10px;
    margin: 0%;
}


/* Education Style */
section.education {
    margin: 0px;
}

div.education-content {
    background-color: rgba(74, 85, 82, 0.35);
    padding-left: 40px;
    margin: 0px 0px;
}

div.education-content b{
    color: #253c3e;
}

div.education-content > *{
    padding: 10px;
    margin: 0%;
}

div.subjects-grade {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

table.subjects-grade-content {
    border-collapse: collapse;
    border: #253C3E 5px solid;
    background-color: #90AFC5;
    width: 50%;
}

table.subjects-grade-content th{
    border-right: #253C3E 5px solid;
    height: 10%;

}

table.subjects-grade-content > caption{
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: #253c3e;
}
 
td {
    text-align: center;
}

/*Projects Style*/
section.projects {
    
    /* padding: 10px 50px; */
    margin: 0px 0px;
}

div.project-content {
    
    background-color: #90AFC5;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.3rem;
    row-gap: 0.5rem;
    align-items: center;
    position: relative;
}

div.project-content li {
    list-style: none;
}


div.project-content h3{
    margin: 0rem;
    font-size: 4vw;
}

div#wordsearch{
    background-color: #336B87;
    height: 25vw;
    text-align: center;
    width: 49.5%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#info-wordsearch{
    font-size: 0vw;
}

div#tictactoe {
    background-color: #253C3E;
    padding: 0rem;
    margin: 0%;
    height: 25vw;
    text-align: center;
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#info-tictactoe{
    font-size: 0vw;
}

div#MQTT{
    background-color: #4A5552;
    padding: 0px 3rem;
    margin: 0%;
    height: 25vw;
    width: 100%;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#info-MQTT{
    font-size: 0vw;
}

.div-subjects-grade {
    padding: 0%;
}

.subjects-grade-content{
    font-size: 2vw;
}

.subjects-grade-content caption {
    font-size: 2.5vw;
}


/*Skills Style*/
section#skills{
    background-color: #90AFC5;
    margin: 0px;
}

section#skills ul{
    margin: 0%;
    list-style: none;
    /* display: none; */
}

.skills-programming-content{
    display: none;
}

.skills-utilitary-content{
    display: none;
}

.skills-tech-content{
    display: none;
}

.show-skills-programming-content{
    display:block;
}

.show-skills-utilitary-content{
    display: block;
}

.show-skills-tech-content{
    display: block;
}







div.skills-background {
    /* background-color: #90AFC5; */
    padding: 50px 50px;
    margin: 0px 0px;
}

div.skills-content > h3{
    background-color: #253C3E;
    margin: 0;
}

div.skills-content > *{
    background-color: rgba(74, 85, 82, 0.35);
}




/*HaA Style*/
section.hobbiesandachievements{
    margin: 0;
    background-color: #90AFC5;
}

div.haa-background {
    background-color: rgba(74, 85, 82, 0.40);
    padding: 10px 50px;
}

div.haa-content > h3 {
    color: #253C3E;
    font-weight: bold;
}


/*Suggestion Style*/
section.suggestion{
    margin: 0px;
}

div.suggestion-background{
    margin: 0;
    background-color: #90AFC5;
    padding:15px 0px;
}

#email-input{
    width: 90%;
}

#buzon-input{
    width: 90%;
    height: auto;
}

div.suggestion-content{
    background-color: #336B87;
    padding: 3rem 3.2rem;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

div.suggestion-content > h2{
    text-align: center;
}

.div-for-email{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
}

.div-for-sugerencia{
    grid-column: 1/3;
    grid-row: 2/4;
    align-self: start;

}

.video-content{
    grid-column: 3/5;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}




/*Social Media Style*/

section.socialmedia{
    margin: 0;
}

div.socialmedia-flexbox{
    background-color: #336B87;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 3rem;
    
}

div.socialmedia-flexbox a{
    color: white;
    font-size: 1vw;
}

div.socialmedia-flexbox p{
    margin: 1rem;
}

div.map-content {
    height: 31.25rem;
    width: 31.25rem;
}

div.video-content {
    height: 19.688rem;
    width: 35rem;

}

.map{
    height: 100%;
    width: 100%;  
}
