@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: #253c3e;
    font-weight: bold;
}

/*Background fill*/
.aboutme-background, .education-background, .projects-background, .skills-background, .haa-background, .suggestion-background, .socialmedia-background, .nav-background, .header-background {
    background-color: #90AFC5;
    padding: 10px 0px;
    margin: 0;
}

.aboutme-background > h2, .education-background > h2, .projects-background > h2, .skills-background > h2, .haa-background > h2, .suggestion-background > h2, .socialmedia-background > h2, .nav-background > h2, .header-background > h2{
    text-align: center;
    font-size: 2vw;
}

body{
    margin: 0px;
}

.nav-background{    
    color: red;
}

.header-background{
    color: blue;
}

/*About me*/

section.aboutme {
    margin: 0px;
}

div.aboutme-content {
    background-color: #336B87;
    padding-left: 40px;
    margin: 0px 0px;
}

div.aboutme-content > * {
    background-color: #336B87;
    padding: 10px;
    margin: 0%;
}


/* Education Style */
section.education {
    margin: 0px;
}

div.education-content {
    background-color: rgba(74, 85, 82, 0.35);
    padding-left: 40px;
    margin: 0px 0px;
}

div.education-content b{
    color: #253c3e;
}

div.education-content > *{
    padding: 10px;
    margin: 0%;
}

div.subjects-grade {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}

table.subjects-grade-content {
    border-collapse: collapse;
    border: #253C3E 5px solid;
    background-color: #90AFC5;
    width: 50%;
}

table.subjects-grade-content th{
    border-right: #253C3E 5px solid;
    height: 10%;

}

table.subjects-grade-content > caption{
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: #253c3e;
}
 
td {
    text-align: center;
}

/*Projects Style*/
section.projects {
    
    /* padding: 10px 50px; */
    margin: 0px 0px;
}

div.project-content {
    
    background-color: #90AFC5;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.3rem;
    row-gap: 0.5rem;
    align-items: center;
    position: relative;
}

div.project-content li {
    list-style: none;
}


div.project-content h3{
    margin: 0rem;
    font-size: 4vw;
}

div#wordsearch{
    background-color: #336B87;
    height: 25vw;
    text-align: center;
    width: 49.5%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

div#info-wordsearch{
    font-size: 0vw;
}

div#tictactoe {
    background-color: #253C3E;
    padding: 0rem;
    margin: 0%;
    height: 25vw;
    text-align: center;
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#info-tictactoe{
    font-size: 0vw;
}


div#tictactoe a{
    /* color: white; */
}


div#MQTT{
    background-color: #4A5552;
    padding: 0px 3rem;
    margin: 0%;
    height: 25vw;
    width: 100%;
    text-align: center;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div#info-MQTT{
    font-size: 0vw;
    
}


/*Skills Style*/
section#skills{
    background-color: #90AFC5;
    margin: 0px;
}

div.skills-background {
    /* background-color: #90AFC5; */
    padding: 10px 50px;
    margin: 0px 0px;
}

div.skills-content > h3{
    background-color: #253C3E;
    margin: 0;
}

div.skills-content > *{
    background-color: rgba(74, 85, 82, 0.35);
}


/*HaA Style*/
section.hobbiesandachievements{
    margin: 0;
    background-color: #90AFC5;
}

div.haa-background {
    background-color: rgba(74, 85, 82, 0.40);
    padding: 10px 50px;
}

div.haa-content > h3 {
    color: #253C3E;
    font-weight: bold;
}


/*Suggestion Style*/
section.suggestion{
    margin: 0px;
}

div.suggestion-background{
    margin: 0;
    background-color: #90AFC5;
    padding:15px 0px;
}

div.suggestion-content{
    background-color: #336B87;
    padding: 3rem 3.2rem;
    height: 50rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem; 
}

div.suggestion-content #email-label{
    height: 100rem;
    font-size: 0px;

}


div.suggestion-content > h2{
    text-align: center;
}


/*Social Media Style*/

section.socialmedia{
    margin: 0;
}

div.socialmedia-flexbox{
    background-color: #336B87;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 3rem;
    
}

div.socialmedia-flexbox a{
    color: white;
    font-size: 1vw;

}

div.socialmedia-flexbox p{
    margin: 1rem;
}

div.map-frame{
    /* background-color: #336B87;r
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    column-gap: 10rem; */
}

div.map-content {
    height: 31.25rem;
    width: 31.25rem;
}

div.video-content {
    height: 19.688rem;
    width: 35rem;

}

.map{
    height: 100%;
    width: 100%;  
}
