<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Select your crypto</mat-label>
    <input type="text"
           placeholder="Pick one Cryto"
           aria-label="Coin"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<div *ngFor="let option of filteredOptions | async">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{option.name}}</mat-card-title>
            <mat-card-subtitle>{{option.symbol | uppercase}} - {{option.id}}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button routerLink="/about/{{option.id}}">About</button>
            <button mat-button routerLink="/stats/{{option.id}}">Stats</button>
            <button mat-button routerLink="/community/{{option.id}}">Community</button>
          </mat-card-actions>
      </mat-card>
</div>

