

.example-card {
    max-width: 95%;
    margin: 5% auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-container {
    height: 100vh;
    }

#logonav{
  margin: 1vh 1vw;
}

.profile-pic {
  background-image: url('https://i.pinimg.com/236x/35/f6/71/35f6716adc65383508eca7cfda5b5594.jpg');
  background-size: cover;
}